<div id="products" class="page-layout carded fullwidth inner-scroll">

<!-- TOP BACKGROUND -->
<div class="top-bg accent"></div>
<!-- / TOP BACKGROUND -->

<!-- CENTER -->
<div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/list-payroll'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'100ms',scale:'0.2'}}">
                <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
            </div>

            <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <div class="h2">
                    New Payroll
                </div>
                <div class="subtitle secondary-text">
                    <span>Payroll Detail</span>
                </div>
            </div>
        </div>
        <!-- / APP TITLE -->

        <!-- ADD BUTTON -->
        <button mat-raised-button
                [routerLink]="'/apps/list-payroll'"
                class="add-product-button fuse-white mt-24 mt-md-0">
            <span>LIST PAYROLL</span>
        </button>
        <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

        <!-- CONTENT -->
        <div class="content">

            <form name="formPayroll" [formGroup]="formPayroll" class="product w-100-p" fxLayout="column" (ngSubmit) = "onClickSubmitPayroll(formPayroll.value)">


                <div class="tab-content p-24" fusePerfectScrollbar>
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <mat-label>Employee</mat-label>
                        <mat-select placeholder="Payroll Employee" formControlName="employee_id" name="employee_id" required>
                            <mat-option *ngFor="let item of dataEmployeeSelect" [value]="item.id">
                                {{item.firstName}} {{item.lastName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Pay_date</mat-label>
                        <input matInput [matDatepicker]="pay_date"
                                name="pay_date"
                                formControlName="pay_date"
                                required>
                        <mat-datepicker-toggle matSuffix [for]="pay_date"></mat-datepicker-toggle>
                        <mat-datepicker #pay_date></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <mat-label>Amount</mat-label>
                        <input matInput placeholder="Payroll Amount"
                                name="amount"
                                formControlName="amount"
                                required>
                    </mat-form-field>

                    <div>
                        <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT"
                                [disabled]="formPayroll.invalid">
                            SUBMIT
                        </button>
                    </div>
                </div>

            </form>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

</div>
<!-- / CENTER -->

</div>
