# Ignorar node_modules para evitar incluir dependencias innecesarias
node_modules

# Ignorar directorios de salida de compilación
dist
build

# Ignorar archivos de configuración locales
*.env
*.log

# Ignorar archivos de control de versiones
.git
.gitignore

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar Dockerfile y archivos relacionados (si no se necesitan en el contexto)
Dockerfile
docker-compose.yml
