{% extends 'base.html' %}
{% block title %} Event List {% endblock %}
{% block content %}
    <h1>Event List</h1>
    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th>Description</th>
            <th>Data</th>
            <th>User</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.get_event_type_display }}</td>
                <td>{{ event.description|default:"No description available" }}</td>
                <td>{{ event.data|default:"No data available" }}</td>
                <td>{{ event.user.email|default:"N/A" }}</td>
                <td>{{ event.created_at|date:"M d, Y h:i A" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
