{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-4">
            <h1 class="display-4">Películas de {{ genre.name }}</h1>
            <p class="lead">Explora todas nuestras películas en la categoría {{ genre.name }}</p>
            <hr>
        </div>
    </div>
    
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-3 mb-4">
            <div class="card movie-card h-100">
                <div class="card-img-container">
                    <img src="{{ movie.img.url }}" class="card-img-top" alt="{{ movie.name }}" height="250">
                    <div class="movie-year">{{ movie.year }}</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.name }}</h5>
                    <p class="card-text movie-desc">{{ movie.desc|truncatechars:100 }}</p>
                </div>
                <div class="card-footer bg-transparent border-top-0">
                    <a href="{% url 'movieapp:detail' movie.id %}" class="btn btn-primary btn-block">Ver Detalles</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <div class="alert alert-info">
                No hay películas disponibles en esta categoría.
            </div>
            <a href="{% url 'movieapp:add_movie' %}" class="btn btn-success mt-3">Añadir película</a>
        </div>
        {% endfor %}
    </div>
    
    <div class="row mt-4">
        <div class="col-12">
            <a href="{% url 'movieapp:genre_list' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left mr-2"></i>Volver a la lista de géneros
            </a>
        </div>
    </div>
</div>
{% endblock %}