# never send these to Docker
node_modules
.next
dist
build
coverage

# repo noise
.git
.gitignore
*.log
npm-debug.log*
.yarn*
.pnpm-store

# env & local files
.env*
.DS_Store

# compose/build files
Dockerfile
docker-compose.yml
