version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    # Omit container_name so Docker Compose auto-names it based on the project (-p)
    volumes:
      - .:/app
      - ./static:/app/static
      - ./media:/app/media
    # Host's port = WEB_PORT; container's port = 8000
    ports:
      - "${WEB_PORT}:8001"
    environment:
      - DEBUG=0
      - DB_NAME=web2_books
      - DB_USER=postgres
      - DB_PASSWORD=autoppia_2025
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db

  db:
    image: postgres:latest
    # Environment variables to create the DB:
    environment:
      - POSTGRES_DB=web2_books
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=autoppia_2025
    # Host's port = POSTGRES_PORT; container's port = 5432
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
