{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include "partials/hero/variants.html" %}

<div class="container mt-5">
    {% include "partials/library_bar/variants.html" %}

    <div class="row" data-dynamic-group="movie-grid">
        {% for i in movie_list %}
            {% include "partials/card/variants.html" with movie=i %}
        {% empty %}
        <div class="col-12 text-center py-5">
            <h3>No movies found</h3>
            <p>Try changing your search criteria or add a new movie</p>
            <a href="{% url 'movieapp:add_movie' %}{{ SEED_QUERYSTRING_PREFIXED }}" class="btn btn-success">Add movie</a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
