<div id="products" class="page-layout carded fullwidth inner-scroll">

<!-- TOP BACKGROUND -->
<div class="top-bg accent"></div>
<!-- / TOP BACKGROUND -->

<!-- CENTER -->
<div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/list-employee'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'100ms',scale:'0.2'}}">
                <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
            </div>

            <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <div class="h2">
                    New Employee
                </div>
                <div class="subtitle secondary-text">
                    <span>Employee Detail</span>
                </div>
            </div>
        </div>
        <!-- / APP TITLE -->

        <!-- ADD BUTTON -->
        <button mat-raised-button
                [routerLink]="'/apps/list-employee'"
                class="add-product-button fuse-white mt-24 mt-md-0">
            <span>LIST EMPLOYEE</span>
        </button>
        <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

        <!-- CONTENT -->
        <div class="content">

            <form name="formEmployee" [formGroup]="formEmployee" class="product w-100-p" fxLayout="column" (ngSubmit) = "onClickSubmitEmployee(formEmployee.value)">


                <div class="tab-content p-24" fusePerfectScrollbar>
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <mat-label>First_name</mat-label>
                        <input matInput placeholder="Employee First_name"
                                name="first_name"
                                formControlName="first_name"
                                required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <mat-label>Last_name</mat-label>
                        <input matInput placeholder="Employee Last_name"
                                name="last_name"
                                formControlName="last_name"
                                required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Employee Email"
                                name="email"
                                formControlName="email"
                                required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Hire_date</mat-label>
                        <input matInput [matDatepicker]="hire_date"
                                name="hire_date"
                                formControlName="hire_date"
                                required>
                        <mat-datepicker-toggle matSuffix [for]="hire_date"></mat-datepicker-toggle>
                        <mat-datepicker #hire_date></mat-datepicker>
                    </mat-form-field>

                    <div>
                        <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT"
                                [disabled]="formEmployee.invalid">
                            SUBMIT
                        </button>
                    </div>
                </div>

            </form>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

</div>
<!-- / CENTER -->

</div>
