<form method="GET" action="{% url 'movieapp:index' %}">
  {% include "partials/seed_fields.html" %}
  <div class="form-row align-items-center">
    <div class="col-md-4 mb-2">
      <select name="genre" class="form-control" id="genreFilterInline">
        <option value="">All Genres</option>
        {% for genre in genres %}
        <option value="{{ genre.id }}" {% if selected_genre == genre.id|stringformat:"i" %}selected{% endif %}>{{ genre.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-3 mb-2">
      <select name="year" class="form-control" id="yearFilterInline">
        <option value="">All Years</option>
        {% for year in available_years %}
        <option value="{{ year }}" {% if selected_year == year|stringformat:"i" %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-3 mb-2">
      <input type="text" name="search" class="form-control" placeholder="Search..." value="{{ search_query }}">
    </div>
    <div class="col-md-2 mb-2">
      <button class="btn btn-outline-secondary w-100" type="submit">Filter</button>
    </div>
  </div>
</form>
